/* BLOBALES */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16px */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  background-color: #3e1961;
}
img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem; /* = 1200px*/
  margin: 0 auto;
  background-color: aqua;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

.forma__triangulo{
    clip-path: polygon(0 100%,0 0,100% 0,50% 50%,100% 100%);
    background-color: white;
    width: 45%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}